.pdfInput {
    padding: 8px;
    border: 1px solid #ccc;
    width: calc(100% - 10px);
    height: 30px;
    margin: 0 10px 0px 10px;
    border-radius: 4px;
}

.pdfRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding: 5px;
}

.pdfContainer {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
}

.deleteBtn {
    background: none;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.deleteBtn:hover {
    color: red;
}

.qaBtn {
    background: none;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 5px;
}

.qaBtn:hover {
    color: #0070f3;
}

.viewPdfLink {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.pdfCheckbox {
    margin-right: 5px;
}
